<section class="carousel">
  <div class="container">
    <div class="swiper carousel__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="carousel__item">
            <img src="img/slider/slider-1.png" alt="slider1" class="carousel__image">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="carousel__item">
            <img src="img/slider/slider-2.png" alt="slider1" class="carousel__image">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="carousel__item">
            <img src="img/slider/slider-3.png" alt="slider1" class="carousel__image">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
