<section class="carousel">
  <div class="container">
    <button class="btn-reset carousel-button__prev">
      <img src="img/icons/prev.png" alt="">
    </button>
    <button class="btn-reset carousel-button__next">
      <img src="img/icons/next.png" alt="">
    </button>
    <div class="swiper carousel-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="carousel__item">
            <img src="img/slider/slider-1.png" alt="slider1" class="carousel__image">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="carousel__item">
            <img src="img/slider/slider-2.png" alt="slider1" class="carousel__image">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="carousel__item">
            <img src="img/slider/slider-3.png" alt="slider1" class="carousel__image">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
