<footer class="footer">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2721.761767878223!2d28.879953751412458!3d46.986013679046145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c9795c9165bc1f%3A0xb283651d5e03cfd3!2sStrada%20Burebista%2040%2C%20Chi%C8%99in%C4%83u%2C%20Moldova!5e0!3m2!1sro!2s!4v1665660261123!5m2!1sro!2s"
    width="100%" height="630" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
  <div class="footer__info">
    <address class="footer__addr">Chisinau, Burebista, 40/2</address>
    <a class="footer__phone" href="tel:373555555">373 (55-55-555)</a>
    <div class="footer__social">
      <a href="#" class="footer__social-item"><img src="img/social/facebook.png" alt=""></a>
      <a href="#" class="footer__social-item"><img src="img/social/insta.png" alt=""></a>
      <a href="#" class="footer__social-item"><img src="img/social/pinteres.png" alt=""></a>
    </div>
  </div>
</footer>

<a href="#up" class="pageup">
  <img src="img/pageup.svg" alt="">
</a>
